@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Ubuntu&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* -webkit-perspective: 1000;
  perspective: 1000; */
}
/* body {
  overflow: hidden;
} */
.body-hide-overflow {
  overflow: hidden;
}
#root {
  position: relative;
}
.main {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(231, 231, 231);
  height: 3rem;
  padding: 3rem;
  z-index: 2;
  width: 100%;
}
nav > a {
  text-decoration: none;
  color: black;
}
.nav-logo {
  font-size: 40px;
  margin-left: 15px;
  font-weight: bolder;
}
.nav-logo:hover {
  text-decoration: underline;
}
.nav-links > a {
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  font-size: 25px;
  margin-left: 1.5rem;
}
.nav-links > a:hover {
  text-decoration: underline;
  font-weight: 600;
}
/* .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  bottom: 0;
  background-color: rgb(37, 36, 36);
  width: 100%;
  color: white;
  font-size: 25px;
  z-index: 2;
} */
.home-container {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 96px);
}
.home-background {
  z-index: -2;
  position: absolute;
  top: 0;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  filter: blur(3px);
}
.home-container h1 {
  font-size: 4rem;
  max-width: 50%;
  margin-bottom: 1rem;
  color: rgb(51, 51, 51);
  margin-top: 4rem;
}
.home-container p {
  font-size: 2rem;
  max-width: 50%;
  margin-bottom: 3rem;
  color: black;
}
.home-btn {
  height: 3rem;
  width: 50%;
  background-color: orange;
  color: white;
  border-style: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.5rem;
}
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 96px);
}
.about-text-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 1rem;
}
.about-text-container h1 {
  font-size: 50px;
}
.about-container p {
  font-size: 25px;
}
.about-footer-container {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  height: 200px;
  padding: 2rem;
  border-radius: 10px;
}
.about-footer-container p {
  font-size: 30px;
  line-height: 2rem;
}
.about-footer-container button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border-style: none;
  background-color: rgb(29, 29, 29);
  color: white;
  margin-top: 2rem;
  cursor: pointer;
}
.vans-container {
  min-height: calc(100vh - 96px);
}
.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.filter-container button {
  border-style: none;
  border-radius: 5px;
  background-color: beige;
  font-size: 2rem;
  cursor: pointer;
}
.fallback-container {
  position: relative;
}
.van-list {
  padding: 5% 10%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 50%;
  gap: 2rem;
  position: relative;
}
.van-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.van-tile img {
  width: 100%;
  /* min-height: 100%; */
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}
.van-tile:hover img {
  filter: brightness(80%);
}
.van-tile-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.van-name {
  margin-top: 0.3rem;
  font-size: 2rem;
  font-weight: 600;
}
.van-class {
  font-size: 1.2rem;
}
.van-rating {
  font-size: 1.2rem;
  font-weight: bold;
}
.van-reviews {
  font-weight: lighter;
  margin-left: 0.3rem;
}
#van-price {
  font-size: 2rem;
  font-weight: 600;
}
.van-tile-link {
  color: black;
  text-decoration: none;
}
.van-details-back-btn {
  display: block;
  margin-left: 10%;
  padding: 1rem 0;
  font-size: 1.5rem;
  width: auto;
}

.fallback-txt {
  font-size: 1.5rem;
}
.lds-ellipsis {
  position: absolute;
  display: block;
  width: 80px;
  height: 80px;
  left: calc(50% - 40px);
  top: 5rem;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(0, 0, 0);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.booking-container {
  width: 40%;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  gap: 0.5rem;
  /* transition: all 0.5s ease; */
}
.fixed {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 10%;
  width: 32%;
}
.booking-price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 65%;
  font-size: 1.5rem;
}
.booking-btn {
  width: 65%;
  font-size: 1.5rem;
}
.booking-calc {
  display: flex;
  justify-content: space-between;
  width: 65%;
}
.booking-total {
  width: 65%;
  display: flex;
  justify-content: space-between;
}
.van-details-container {
  min-height: calc(100vh - 96px);
  padding: 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fullscreen-gallery {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.637);
  z-index: 111;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* cursor: pointer; */
}
.fullscreen-img {
  position: absolute;
  display: block;
  object-fit: contain;
  object-position: center;
  height: 90%;
  width: 100%;
  border-radius: 1rem;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}
.slide-number-prev {
  position: absolute;
  font-size: 1.3rem;
  font-family: 'Tilt Neon', sans-serif;
  z-index: 822;
  top: 0.5rem;
  color: white;
}
.close-btn,
.next-btn,
.prev-btn {
  position: absolute;
  cursor: pointer;
  z-index: 8;
  background-color: rgb(214, 214, 214);
  border-style: none;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
}
.close-btn img,
.next-btn img,
.prev-btn img {
  width: 1.5rem;
  height: 1.5rem;
}
.close-btn {
  right: 2rem;
  top: 1rem;
}
.next-btn {
  right: 2rem;
  top: 50%;
}
.prev-btn {
  top: 50%;
  left: 2rem;
}

.van-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 50%;
  gap: 0.5rem;
  padding-bottom: 5%;
  position: relative;
}
.van-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}
.van-gallery img:hover {
  filter: brightness(80%);
}
.show-gallery {
  position: absolute;
  right: 5%;
  bottom: 15%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid black;
}
.wide-gallery-img {
  grid-row: span 2;
  grid-column: span 2;
}

.container-seperator {
  display: flex;
  justify-content: space-between;
  position: relative;
  /* gap: 1rem; */
}
.van-details-info-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  position: relative;
}

.van-details-rating {
  font-size: 1.5rem;
}
.van-details-rating a {
  color: black;
}
.van-details-name {
  font-size: 4rem;
  margin: 1.5rem 0;
  margin-top: 0;
}
.feature-preview-container {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #b9b9b965;
  /* padding: 1rem; */
  gap: 1rem;
  flex-wrap: wrap;
}
.feature-preview-container button {
  margin-top: -1rem;
  background-color: rgb(71, 71, 71);
  border-style: none;
  color: white;
  font-size: 1.2rem;
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  white-space: nowrap;
}
.van-details-description {
  font-size: 1.5rem;
  padding: 2rem 0;
  border-bottom: 2px solid #b9b9b965;
}
.feature-title,
.amenity-title,
.rules-title {
  font-size: 2.5rem;
  margin: 1rem 0;
}
.feature-container,
.amenity-container,
.rules-container {
  /* margin-top: 1rem; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #b9b9b965;
}
.feature-item,
.amenity-item,
.rule-item {
  display: flex;
}
.feature-item p,
.amenity-item p,
.rule-item p {
  line-height: 2rem;
  font-size: 1.5rem;
  margin-left: 0.3rem;
  white-space: nowrap;
}
@media screen and (max-width: 2000px) {
  .van-list {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 50%;
  }
}
@media screen and (max-width: 1400px) {
  .van-list {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50%;
  }
}
@media screen and (max-width: 1200px) {
  .van-gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50%;
  }
  .medium-gallery-img {
    grid-row: span 1;
    grid-column: span 1;
  }
  .small-gallery-img {
    display: none;
  }
  .booking-container {
    display: none;
  }
  .van-details-info-container {
    width: 100%;
  }
  .container-seperator {
    padding: 0;
  }
  .van-details-name {
    font-size: 3rem;
  }
  .nav-logo {
    font-size: 2rem;
  }
  .nav-links > a {
    font-size: 1.5rem;
  }
  .feature-title,
  .amenity-title,
  .rules-title {
    font-size: 1.7rem;
  }
  .feature-item p,
  .amenity-item p,
  .rule-item p {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 900px) {
  .van-list {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 33.333%;
  }
}
@media screen and (max-width: 600px) {
  .van-list {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 16.6666%;
  }
  .van-gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 50%;
  }
  .medium-gallery-img {
    display: none;
  }
  .small-gallery-img {
    display: none;
  }
  .nav-logo {
    font-size: 1rem;
  }
  .nav-links a {
    font-size: 1rem;
  }
  .van-details-info-container {
    width: 100%;
    flex-wrap: wrap;
  }
  .van-details-name {
    font-size: 2rem;
  }
  .van-details-description {
    font-size: 1.2rem;
  }

  .feature-title,
  .amenity-title,
  .rules-title {
    font-size: 1.5rem;
  }
  .feature-item p,
  .amenity-item p,
  .rule-item p {
    font-size: 1.2rem;
  }
  .van-details-rating {
    font-size: 1.2rem;
  }

  .feature-preview-container button {
    font-size: 1rem;
  }
  .show-gallery {
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    bottom: 10%;
  }
}
@media screen and (max-width: 450px) {
  .rules-container,
  .amenity-container,
  .feature-container {
    grid-template-columns: 1fr;
  }
  .close-btn,
  .next-btn {
    right: 0.5rem;
  }
  .prev-btn {
    left: 0.5rem;
  }
}
