@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Ubuntu&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  scroll-behavior: smooth;
}

.body-hide-overflow {
  overflow: hidden;
  z-index: -1;
}
#root {
  position: relative;
}
.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(231, 231, 231);
  height: 3rem;
  padding: 3rem;
  z-index: 2;
  width: 100%;
}
nav > a {
  text-decoration: none;
  color: black;
}
.nav-logo {
  font-size: 40px;
  margin-left: 15px;
  font-weight: bolder;
}
.nav-logo:hover {
  text-decoration: underline;
}
.nav-links > a {
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  font-size: 25px;
  margin-left: 1.5rem;
}
.nav-links > a:hover {
  text-decoration: underline;
  font-weight: 600;
}

.home-container {
  text-align: center;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  width: 100vw;
  aspect-ratio: 16/9;
  max-height: 70vh;
  padding: 0 25%;
  text-align: left;
  position: relative;
}
.home-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('https://res.cloudinary.com/dxwwpwlqc/image/upload/v1678882591/images/pexels-photo-13134378_xscpto.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(250, 235, 215, 0.425);
  filter: blur(3px);
  scale: 1.1;
  /* border: none;
  border-style: none; */
}
.home-header {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 10vh;
}
.home-header > span {
  font-size: 3rem;
  font-weight: bolder;
  white-space: nowrap;
  margin-bottom: 0;
}
.home-header-slogan {
  font-size: 1.2rem;
  font-weight: bold;
}
.home-btn {
  height: 3rem;
  padding: 0.5rem 1rem;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-style: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.5rem;
}
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.about-text-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 1rem;
}
.about-text-container h1 {
  font-size: 50px;
}
.about-container p {
  font-size: 25px;
}
.about-footer-container {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  height: 200px;
  padding: 2rem;
  border-radius: 10px;
}
.about-footer-container p {
  font-size: 30px;
  line-height: 2rem;
}
.about-footer-container button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border-style: none;
  background-color: rgb(29, 29, 29);
  color: white;
  margin-top: 2rem;
  cursor: pointer;
}
.vans-container {
  min-height: calc(100vh - 96px);
}
.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.filter-container button {
  border-style: none;
  border-radius: 5px;
  background-color: beige;
  font-size: 2rem;
  cursor: pointer;
}
.fallback-container {
  position: relative;
}
.van-list {
  padding: 5% 15%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 50%;
  gap: 2rem;
  position: relative;
}
.van-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.van-tile img {
  width: 100%;
  /* min-height: 100%; */
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}
.van-tile:hover img {
  filter: brightness(80%);
}
.van-tile-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.van-name {
  margin-top: 0.3rem;
  font-size: 2rem;
  font-weight: 600;
}
.van-class {
  font-size: 1.2rem;
}
.van-rating {
  font-size: 1.2rem;
  font-weight: bold;
}
.van-reviews {
  font-weight: lighter;
  margin-left: 0.3rem;
}
#van-price {
  font-size: 2rem;
  font-weight: 600;
}
.van-tile-link {
  color: black;
  text-decoration: none;
}
.van-details-back-btn {
  display: flex;
  align-items: center;
  margin-left: 15%;
  padding: 1rem 0;
  font-size: 1.2rem;
  width: auto;
  color: black;
}

.fallback-txt {
  font-size: 1.5rem;
}
.lds-ellipsis {
  position: absolute;
  display: block;
  width: 80px;
  height: 80px;
  left: calc(50% - 40px);
  top: 5rem;
  margin: 2rem 0;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(0, 0, 0);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.mobile-booking-modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: none;
  align-items: center;
  flex-direction: column;
  padding: 5% 5%;
  gap: 1rem;
  overflow-y: scroll;
  /* display: none; */
  /* background-color: antiquewhite; */
}
.mobile-booking-close {
  box-sizing: content-box;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 50%;
  background-color: rgb(192, 192, 192);
  padding: 0.3rem;
  z-index: 10;
}
.mobile-booking-container {
  display: none;
  justify-content: space-between;
  padding: 0 10%;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 15%;
  background-color: white;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.mobile-bottom-btn {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border-style: none;
  padding: 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: #5c940d;
  color: white;
  font-weight: bold;
  white-space: nowrap;
}
.mobile-booking-header {
  display: flex;
  /* justify-content: center; */
  gap: 1rem;
}
.mobile-booking-img {
  width: 50%;
  aspect-ratio: 4/3;
  border-radius: 0.5rem;
  object-fit: cover;
}
.mobile-calendar {
  display: flex;
  flex-direction: column;
}
.booking-container {
  position: sticky;
  top: 3rem;
  width: 400px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  transition: all 1s ease;
  z-index: 3;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1rem;
  background-color: white;
}

.booking-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  font-size: 1.5rem;
}
.booking-reviews-container {
  font-size: 1.2rem;
  display: flex;
  padding-top: 0.3rem;
}
.booking-reviews {
  text-decoration: underline;
  cursor: pointer;
  color: black;
}
.booking-availability,
.booking-reserve {
  width: 350px;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border-style: none;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1.3rem;
  cursor: pointer;
  background-color: #5c940d;
  color: white;
  font-weight: bold;
}
.booking-warning {
  font-size: 1rem;
  line-height: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
.booking-calc,
.booking-total,
.booking-insurance,
.booking-tax,
.booking-cleaning {
  display: flex;
  justify-content: space-between;
  width: 350px;
  font-size: 1.2rem;
}
.booking-tax {
  border-bottom: 2px solid #b9b9b965;
  padding-bottom: 1rem;
}
.booking-total {
  padding: 0.5rem 0;
  font-weight: bold;
}
.van-details-container {
  padding: 0 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fullscreen-gallery {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.637);
  z-index: 111;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* cursor: pointer; */
}
.fullscreen-img {
  position: absolute;
  display: block;
  object-fit: contain;
  object-position: center;
  height: 90%;
  width: 100%;
  border-radius: 1rem;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}
.slide-number-prev {
  position: absolute;
  font-size: 1.3rem;
  font-family: 'Tilt Neon', sans-serif;
  z-index: 822;
  top: 0.5rem;
  color: white;
}
.close-btn,
.next-btn,
.prev-btn {
  position: absolute;
  cursor: pointer;
  z-index: 8;
  background-color: rgb(214, 214, 214);
  border-style: none;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
}
.next-btn:active,
.prev-btn:active {
  transform: translateY(5%);
}
.close-btn img,
.next-btn img,
.prev-btn img {
  width: 1.5rem;
  height: 1.5rem;
}
.close-btn {
  right: 2rem;
  top: 1rem;
}
.next-btn {
  right: 2rem;
  top: 50%;
}
.prev-btn {
  top: 50%;
  left: 2rem;
}

.van-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50%;
  position: relative;
  width: 70%;
  margin-left: 15%;
  gap: 0.5rem;
  overflow: hidden;
  padding-bottom: 1rem;
}
.van-gallery img {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}
.van-gallery img:hover {
  filter: brightness(80%);
}
.wide-gallery-img {
  grid-row: span 2;
  grid-column: span 2;
}

.show-gallery {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid black;
}

.container-seperator {
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 1rem;
  margin-top: 1rem;
}
.van-details-info-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  position: relative;
  margin-bottom: 2rem;
}

.van-details-rating {
  font-size: 1.5rem;
}
.van-details-rating a {
  color: black;
}
.van-details-name {
  font-size: 3rem;
  margin: 1.5rem 0;
  margin-top: 0;
}
.feature-preview-container {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #b9b9b965;
  /* padding: 1rem; */
  gap: 1rem;
  flex-wrap: wrap;
}
.feature-preview-container button {
  margin-top: -1rem;
  background-color: rgb(71, 71, 71);
  border-style: none;
  color: white;
  font-size: 1.2rem;
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  white-space: nowrap;
}
.van-details-description {
  font-size: 1.3rem;
  padding: 2rem 0;
  border-bottom: 2px solid #b9b9b965;
}
.feature-title,
.amenity-title,
.rules-title,
.availability-title {
  font-size: 2rem;
  margin: 1rem 0;
}
.feature-container,
.amenity-container,
.rules-container {
  /* margin-top: 1rem; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #b9b9b965;
}
.feature-item,
.amenity-item,
.rule-item {
  display: flex;
  height: 32px;
}
.feature-item p,
.amenity-item p,
.rule-item p {
  line-height: 2rem;
  font-size: 1.3rem;
  margin-left: 0.3rem;
  white-space: nowrap;
}

.calendar-overlay {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: none;
}

.calendar-container {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1rem;
  padding: 1rem;
  padding-bottom: 5rem;
  position: absolute;
  top: 30%;
  right: 10%;
}
.calendar-btns {
  position: absolute;
  right: 1.5rem;
  bottom: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
.calendar-clear,
.calendar-close {
  font-family: 'Tilt Neon', sans-serif;
  border-style: none;
  background-color: transparent;
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}
.calendar-clear {
  text-decoration: underline;
}
.calendar-clear:hover {
  background-color: rgba(199, 199, 199, 0.349);
}
.calendar-close {
  background-color: black;
  color: white;
}
.mantine-CalendarHeader-calendarHeaderLevel,
.mantine-Day-day {
  font-family: 'Tilt Neon', sans-serif;
  font-size: 1.2rem;
}
.calendar-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  font-family: 'Tilt Neon', sans-serif;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 1rem;
}
.pickup-date,
.dropoff-date {
  display: flex;
  flex-direction: column;
}
.pickup-date p,
.dropoff-date p {
  text-transform: uppercase;
  font-weight: 600;
}
.selected-date {
  font-size: 1rem;
}
.host-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15%;
}
.host-listing {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  background-color: rgba(228, 228, 228, 0.616);
  padding: 1rem;
  border-radius: 0.3rem;
}
.host-listing img {
  border-radius: 0.5rem;
  width: 300px;
}
.host-listing-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.host-listing-info p {
  color: black;
  font-size: 1.3rem;
}
.host-photos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row: 50%;
  gap: 1rem;
  margin: 2rem 0;
}
.host-photos img {
  width: 100%;
  height: 100%;
  aspect-ratio: 3/2;
  border-radius: 0.3rem;
  border: 2px solid rgb(107, 107, 107);
  object-fit: cover;
  object-position: center;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}
.login-img {
  border-radius: 1rem;
  min-height: 500px;
  max-height: 50vh;
  margin-left: 1rem;
}
.reviews-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  gap: 1rem;
  padding: 3rem 0;
  border-top: 2px solid#b9b9b965;
}

.reviews-sidebar {
  width: 40%;
  display: flex;
  flex-direction: column;
  border-right: 2px solid#b9b9b965;
  padding-right: 1rem;
}
.reviews-sidebar button {
  display: block;
  font-size: 1rem;
  margin-top: 0.5rem;
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  background-color: white;
  align-self: flex-start;
}
.reviews-list {
  max-width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}
@media screen and (max-width: 2000px) {
  .van-list {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 50%;
    padding: 5% 10%;
  }
  .van-details-container {
    padding: 0 10%;
  }
  .van-gallery {
    width: 80%;
    margin-left: 10%;
  }
  .van-details-back-btn {
    margin-left: 10%;
  }
  .host-container {
    padding: 0 10%;
  }
}
@media screen and (max-width: 1400px) {
  .van-list {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50%;
  }
}
@media screen and (max-width: 1200px) {
  .van-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  .medium-gallery-img {
    grid-row: span 1;
    grid-column: span 1;
  }
  .small-gallery-img {
    display: none;
  }

  .van-details-info-container {
    width: 100%;
  }
  .container-seperator {
    padding: 0;
  }
  .van-details-name {
    font-size: 2.5rem;
  }
  .nav-logo {
    font-size: 2rem;
  }
  .nav-links > a {
    font-size: 1.5rem;
  }
  .feature-title,
  .amenity-title,
  .rules-title,
  .availability-title {
    font-size: 1.7rem;
  }
  .feature-item p,
  .amenity-item p,
  .rule-item p {
    font-size: 1.2rem;
  }
  .home-header span {
    font-size: 2rem;
  }
  .home-btn {
    font-size: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .van-list {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 33.333%;
  }
  .login-img {
    display: none;
  }
  .reviews-container {
    flex-direction: column;
  }
  .reviews-sidebar {
    width: 100%;
    border-right: none;
    margin-bottom: 1rem;
  }
  .reviews-list {
    max-width: 100%;
  }
  .mantine-wk19cb,
  .mantine-15c2r3o {
    padding-left: 0;
    margin-left: 0;
  }
  .booking-container {
    display: none;
  }
  .calendar-date {
    width: 100%;
  }

  .booking-calc,
  .booking-cleaning,
  .booking-insurance,
  .booking-tax,
  .booking-total,
  .booking-warning,
  .booking-availability,
  .booking-reserve {
    width: 100%;
    margin: 0;
  }
  .mobile-booking-container {
    display: flex;
  }
  .home-container {
    padding: 0 10%;
  }
}
@media screen and (max-width: 600px) {
  .van-list {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 16.6666%;
  }
  .van-gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 50%;
  }
  .medium-gallery-img {
    display: none;
  }
  .small-gallery-img {
    display: none;
  }
  .nav-logo {
    font-size: 1rem;
  }
  .nav-links a {
    font-size: 1rem;
  }
  .van-details-info-container {
    width: 100%;
    flex-wrap: wrap;
  }
  .van-details-name {
    font-size: 2rem;
  }
  .van-details-description {
    font-size: 1.2rem;
  }

  .feature-title,
  .amenity-title,
  .rules-title {
    font-size: 1.5rem;
  }
  .feature-item p,
  .amenity-item p,
  .rule-item p {
    font-size: 1.2rem;
  }
  .van-details-rating {
    font-size: 1.2rem;
  }

  .feature-preview-container button {
    font-size: 1rem;
  }
  .show-gallery {
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    bottom: 1rem;
    right: 0.5rem;
  }

  .home-header {
    margin-top: 2rem;
  }
  .home-header-slogan {
    font-size: 1rem;
    width: 80%;
  }
  .home-header span {
    white-space: pre-wrap;
    font-size: 1.25rem;
  }
  .home-btn {
    padding: 0 0.5rem;
  }
}
@media screen and (max-width: 450px) {
  .rules-container,
  .amenity-container,
  .feature-container {
    grid-template-columns: 1fr;
  }
  .close-btn,
  .next-btn {
    right: 0.5rem;
  }
  .prev-btn {
    left: 0.5rem;
  }
}
